(edif jhdlsrltest
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2004 5 8 14 2 4)
      (program "BYU-CC's JHDL-EDIF netlister by Peter Bellows and Eric Blake"
        (version "0.3.27-internal-development"))))
  (library jhdlsrltest
    (edifLevel 0)
    (technology (numberDefinition (scale 1 (E 1 -12) (unit CAPACITANCE))))
    (cell (rename srl16 "srl16")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srl16_1 "srl16_1")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srl16e "srl16e")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port ce  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srl16e_1 "srl16e_1")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port ce  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srlc16 "srlc16")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port q15  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srlc16_1 "srlc16_1")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port q15  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srlc16e "srlc16e")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port ce  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port q15  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename srlc16e_1 "srlc16e_1")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port d  (direction INPUT))
          (port ce  (direction INPUT))
          (port a0  (direction INPUT))
          (port a1  (direction INPUT))
          (port a2  (direction INPUT))
          (port a3  (direction INPUT))
          (port q  (direction OUTPUT))
          (port q15  (direction OUTPUT))
          (port CLK  (direction INPUT))
        )
     ))
    (cell (rename buf "buf")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port i  (direction INPUT))
          (port o  (direction OUTPUT))
        )
     ))
    (cell (rename buf_g_2 "buf_g_2")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port (array (rename i "i[1:0]") 2) (direction INPUT))
          (port (array (rename o "o[1:0]") 2) (direction OUTPUT))
        )
        (contents
          (instance buf
            (viewRef view_1 (cellRef buf)))
          (instance buf__1
            (viewRef view_1 (cellRef buf)))

          (net (rename o__0__ "o<0>")
            (joined
              (portRef o (instanceRef buf))
              (portRef (member o 1))))
          (net (rename o__1__ "o<1>")
            (joined
              (portRef o (instanceRef buf__1))
              (portRef (member o 0))))
          (net (rename i__0__ "i<0>")
            (joined
              (portRef i (instanceRef buf))
              (portRef (member i 1))))
          (net (rename i__1__ "i<1>")
            (joined
              (portRef i (instanceRef buf__1))
              (portRef (member i 0))))
        )
     ))
    (cell (rename jhdlsrltest "jhdlsrltest")
      (cellType GENERIC)
      (view view_1
        (viewType NETLIST)
        (interface
          (port datain  (direction INPUT))
          (port ce  (direction INPUT))
          (port clk  (direction INPUT))
          (port (array (rename a "a[3:0]") 4) (direction INPUT))
          (port osrl16  (direction OUTPUT))
          (port osrl161  (direction OUTPUT))
          (port osrl16e  (direction OUTPUT))
          (port osrl16e1  (direction OUTPUT))
          (port (array (rename osrlc16 "osrlc16[1:0]") 2) (direction OUTPUT))
          (port (array (rename osrlc161 "osrlc161[1:0]") 2) (direction OUTPUT))
          (port (array (rename osrlc16e "osrlc16e[1:0]") 2) (direction OUTPUT))
          (port (array (rename osrlc16e1 "osrlc16e1[1:0]") 2) (direction OUTPUT))
        )
        (contents
          (instance srl16__1
            (viewRef view_1 (cellRef srl16))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srl16_1
            (viewRef view_1 (cellRef srl16_1))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srl16e__1
            (viewRef view_1 (cellRef srl16e))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srl16e_1
            (viewRef view_1 (cellRef srl16e_1))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srlc16__1
            (viewRef view_1 (cellRef srlc16))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srlc16_1
            (viewRef view_1 (cellRef srlc16_1))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srlc16e__1
            (viewRef view_1 (cellRef srlc16e))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance srlc16e_1
            (viewRef view_1 (cellRef srlc16e_1))
            (property INIT (string "abcd") (owner  "JHDL")))
          (instance buf
            (viewRef view_1 (cellRef buf)))
          (instance buf__1
            (viewRef view_1 (cellRef buf)))
          (instance buf__2
            (viewRef view_1 (cellRef buf)))
          (instance buf__3
            (viewRef view_1 (cellRef buf)))
          (instance buf_g
            (viewRef view_1 (cellRef buf_g_2)))
          (instance buf_g__1
            (viewRef view_1 (cellRef buf_g_2)))
          (instance buf_g__2
            (viewRef view_1 (cellRef buf_g_2)))
          (instance buf_g__3
            (viewRef view_1 (cellRef buf_g_2)))

          (net (rename srlc16e1__0__ "srlc16e1<0>")
            (joined
              (portRef q (instanceRef srlc16e_1))
              (portRef (member i 1) (instanceRef buf_g__3))))
          (net (rename srlc16e1__1__ "srlc16e1<1>")
            (joined
              (portRef q15 (instanceRef srlc16e_1))
              (portRef (member i 0) (instanceRef buf_g__3))))
          (net (rename srlc16e__0__ "srlc16e<0>")
            (joined
              (portRef q (instanceRef srlc16e__1))
              (portRef (member i 1) (instanceRef buf_g__2))))
          (net (rename srlc16e__1__ "srlc16e<1>")
            (joined
              (portRef q15 (instanceRef srlc16e__1))
              (portRef (member i 0) (instanceRef buf_g__2))))
          (net (rename srlc161__0__ "srlc161<0>")
            (joined
              (portRef q (instanceRef srlc16_1))
              (portRef (member i 1) (instanceRef buf_g__1))))
          (net (rename srlc161__1__ "srlc161<1>")
            (joined
              (portRef q15 (instanceRef srlc16_1))
              (portRef (member i 0) (instanceRef buf_g__1))))
          (net (rename srlc16__0__ "srlc16<0>")
            (joined
              (portRef q (instanceRef srlc16__1))
              (portRef (member i 1) (instanceRef buf_g))))
          (net (rename srlc16__1__ "srlc16<1>")
            (joined
              (portRef q15 (instanceRef srlc16__1))
              (portRef (member i 0) (instanceRef buf_g))))
          (net (rename srl16e1 "srl16e1")
            (joined
              (portRef q (instanceRef srl16e_1))
              (portRef i (instanceRef buf__3))))
          (net (rename srl16e "srl16e")
            (joined
              (portRef q (instanceRef srl16e__1))
              (portRef i (instanceRef buf__2))))
          (net (rename srl161 "srl161")
            (joined
              (portRef q (instanceRef srl16_1))
              (portRef i (instanceRef buf__1))))
          (net (rename srl16 "srl16")
            (joined
              (portRef q (instanceRef srl16__1))
              (portRef i (instanceRef buf))))
          (net (rename osrlc16e1__0__ "osrlc16e1<0>")
            (joined
              (portRef (member o 1) (instanceRef buf_g__3))
              (portRef (member osrlc16e1 1))))
          (net (rename osrlc16e1__1__ "osrlc16e1<1>")
            (joined
              (portRef (member o 0) (instanceRef buf_g__3))
              (portRef (member osrlc16e1 0))))
          (net (rename osrlc16e__0__ "osrlc16e<0>")
            (joined
              (portRef (member o 1) (instanceRef buf_g__2))
              (portRef (member osrlc16e 1))))
          (net (rename osrlc16e__1__ "osrlc16e<1>")
            (joined
              (portRef (member o 0) (instanceRef buf_g__2))
              (portRef (member osrlc16e 0))))
          (net (rename osrlc161__0__ "osrlc161<0>")
            (joined
              (portRef (member o 1) (instanceRef buf_g__1))
              (portRef (member osrlc161 1))))
          (net (rename osrlc161__1__ "osrlc161<1>")
            (joined
              (portRef (member o 0) (instanceRef buf_g__1))
              (portRef (member osrlc161 0))))
          (net (rename osrlc16__0__ "osrlc16<0>")
            (joined
              (portRef (member o 1) (instanceRef buf_g))
              (portRef (member osrlc16 1))))
          (net (rename osrlc16__1__ "osrlc16<1>")
            (joined
              (portRef (member o 0) (instanceRef buf_g))
              (portRef (member osrlc16 0))))
          (net (rename osrl16e1 "osrl16e1")
            (joined
              (portRef o (instanceRef buf__3))
              (portRef osrl16e1)))
          (net (rename osrl16e "osrl16e")
            (joined
              (portRef o (instanceRef buf__2))
              (portRef osrl16e)))
          (net (rename osrl161 "osrl161")
            (joined
              (portRef o (instanceRef buf__1))
              (portRef osrl161)))
          (net (rename osrl16 "osrl16")
            (joined
              (portRef o (instanceRef buf))
              (portRef osrl16)))
          (net (rename a__0__ "a<0>")
            (joined
              (portRef a0 (instanceRef srl16__1))
              (portRef a0 (instanceRef srl16_1))
              (portRef a0 (instanceRef srl16e__1))
              (portRef a0 (instanceRef srl16e_1))
              (portRef a0 (instanceRef srlc16__1))
              (portRef a0 (instanceRef srlc16_1))
              (portRef a0 (instanceRef srlc16e__1))
              (portRef a0 (instanceRef srlc16e_1))
              (portRef (member a 3))))
          (net (rename a__1__ "a<1>")
            (joined
              (portRef a1 (instanceRef srl16__1))
              (portRef a1 (instanceRef srl16_1))
              (portRef a1 (instanceRef srl16e__1))
              (portRef a1 (instanceRef srl16e_1))
              (portRef a1 (instanceRef srlc16__1))
              (portRef a1 (instanceRef srlc16_1))
              (portRef a1 (instanceRef srlc16e__1))
              (portRef a1 (instanceRef srlc16e_1))
              (portRef (member a 2))))
          (net (rename a__2__ "a<2>")
            (joined
              (portRef a2 (instanceRef srl16__1))
              (portRef a2 (instanceRef srl16_1))
              (portRef a2 (instanceRef srl16e__1))
              (portRef a2 (instanceRef srl16e_1))
              (portRef a2 (instanceRef srlc16__1))
              (portRef a2 (instanceRef srlc16_1))
              (portRef a2 (instanceRef srlc16e__1))
              (portRef a2 (instanceRef srlc16e_1))
              (portRef (member a 1))))
          (net (rename a__3__ "a<3>")
            (joined
              (portRef a3 (instanceRef srl16__1))
              (portRef a3 (instanceRef srl16_1))
              (portRef a3 (instanceRef srl16e__1))
              (portRef a3 (instanceRef srl16e_1))
              (portRef a3 (instanceRef srlc16__1))
              (portRef a3 (instanceRef srlc16_1))
              (portRef a3 (instanceRef srlc16e__1))
              (portRef a3 (instanceRef srlc16e_1))
              (portRef (member a 0))))
          (net (rename clk "clk")
            (joined
              (portRef CLK (instanceRef srl16__1))
              (portRef CLK (instanceRef srl16_1))
              (portRef CLK (instanceRef srl16e__1))
              (portRef CLK (instanceRef srl16e_1))
              (portRef CLK (instanceRef srlc16__1))
              (portRef CLK (instanceRef srlc16_1))
              (portRef CLK (instanceRef srlc16e__1))
              (portRef CLK (instanceRef srlc16e_1))
              (portRef clk)))
          (net (rename ce "ce")
            (joined
              (portRef ce (instanceRef srl16e__1))
              (portRef ce (instanceRef srl16e_1))
              (portRef ce (instanceRef srlc16e__1))
              (portRef ce (instanceRef srlc16e_1))
              (portRef ce)))
          (net (rename datain "datain")
            (joined
              (portRef d (instanceRef srl16__1))
              (portRef d (instanceRef srl16_1))
              (portRef d (instanceRef srl16e__1))
              (portRef d (instanceRef srl16e_1))
              (portRef d (instanceRef srlc16__1))
              (portRef d (instanceRef srlc16_1))
              (portRef d (instanceRef srlc16e__1))
              (portRef d (instanceRef srlc16e_1))
              (portRef datain)))
        )
     ))
  )
  (design ROOT
    (cellRef jhdlsrltest
      (libraryRef jhdlsrltest)))
)
